.social-icons {
    display: flex;
}


.up1 {
    overflow: hidden;
    height: 700px;
}


.up {
    height: 700px;
    background-image: url("../img/family.jpg");
    background-position: top;
    background-size: cover;
    padding-top: 10%;
}

.up:hover {
    opacity: 0.7;
    filter: alpha(opacity=50);
}


.down {
    height: 700px;
    background-image: url("../img/capa.jpg");
    background-position: top;
    background-size: cover;
    padding-top: 10%;

}

.down:hover {
    opacity: 0.7;
    filter: alpha(opacity=30);
}

.jumbotron1 {

    background-color: #b13634;
}

.jumbotron2 {

    background-color: #f2f2f2;

}

.mid-bg {
    background-color: rgb(228, 228, 228);
    padding: 20px 0px 0px 0px;
    text-align: center;

}

.mid-bg img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    margin-bottom: 10px;
}

.mid-bg img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.italki {
    height: 60px;
}

.turkishws {
    height: 60px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;

}

.testimonial {
    margin-top: 20px;
}


/* BUBBLE */


  
  #content {
    max-width: 100%;
    margin-top: 20px;
  }
  
  .testimonial blockquote {
    margin: 10px 10px 0;
    background: #efefef;
    padding: 20px 60px;
    position: relative;
    border: none;
    border-radius: 8px;
    font-style: italic;
  }
  
  .testimonial blockquote:before,
  .testimonial blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #757f9a;
    font-style: normal;
  }
  
  .testimonial blockquote:before {
    top: 0;
    left: 10px;
  }
  
  .testimonial blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
  }
  
  .testimonial div {
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #efefef;
    margin: 0 0 0 60px;
  }
  
  .testimonial p {
    margin: 8px 0 0 20px;
    text-align: left;
    color: #fff;
  }
  
.midway {
    background-color: #f2f2f2;
    padding: 20px 0px 20px 0px;
}

@media only screen and (max-width: 991px) {
    .social-icons {
        display: flex;
        letter-spacing: 5px;
    }
    .up {
        background: none;
        padding-top: 0px;
        height: 50%;

    }
    
    
    .down {
        display: none;

    }

    .jumbotron1 {

        font-size: smaller;

    }
    
    .jumbotron2 {
    
        font-size: smaller;
    
    }

    .card {
        margin-top: 20px;
    }
    

    
    .italki {
        display: none;
    }

    .turkishws {
        display: none;
    }

    .last-img {
        display: none;
    }

    .card-img-top {
        object-fit: cover;
    }

  }


